:root {
    --lavender: #a4a9ff;
    --indigo: #3f51b5;
    --cyan: #00bcd4;

    --background: #282a33;
    --box-background: #343744;
    --box-hover: #3b3f50;
}
body {
    background-color: var(--background);
}

.mb-main__inner {
  background-color: transparent;
  box-shadow: none;
}
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
    color: var(--lavender);
}
.md-typeset h2 {
    border-bottom: 2px solid var(--cyan);
    padding-bottom: 0.3rem;
}

.md-nav__link {
    display: block;
    padding: 0.55rem 0.75rem;
    margin: 0.2rem 0;

    background-color: var(--box-background);

    border-radius: 8px;

    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}
.md-nav__link:hover {
    background-color: var(--box-hover);
    color: var(--cyan);
}
.md-nav__link--active {
    color: var(--lavender);
    background-color: #3b3d52;
    font-weight: bold;
}
.md-nav__title {
    box-shadow: none !important;

    background-color: var(--box-background);

    border-radius: 10px;

    border-left: 3px solid var(--cyan);
}
.md-sidebar--secondary .md-nav__title {
    box-shadow: none;

    background-color: var(--box-background);

    border-radius: 8px;

    border-left: 3px solid var(--cyan);
}
.md-sidebar--secondary .md-nav__link {
    background-color: var(--box-background);

    border-radius: 8px;

    padding: 0.5rem 0.75rem;

    margin: 0.2rem 0;
}
.md-sidebar--secondary .md-nav__link:hover {
    background-color: var(--box-hover);
    color: var(--cyan);
}
.md-typeset a {
    color: var(--cyan);
}
.md-typeset a:hover {
    color: var(--lavender);
}
.md-typeset pre {
    border-left: 3px solid var(--cyan);

    border-radius: 8px;

    box-shadow: none;
}
